body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    background-image: url(/Users/sree/Desktop/DDH/profile\ update\ sreeja\ bug\ fix/images/newbg1.jpeg ); 
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn-container {
    margin-bottom: 30px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #CC5500;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-btn {
    padding: 8px 12px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.back-btn {
    position: absolute; 
    top: 10px;         
    right: 10px;       
    width: 80px;        
    z-index: 1;         
}

