/* === RESET AND GLOBAL STYLES === */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

/* === HEADER STYLES === */
.header {
    background: linear-gradient(to bottom, rgba(13, 22, 35, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/food.jpg');
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 5vh;
}

.header img, .nav-list img {
    max-width: 100%;
    height: auto;
}

/* === MENU STYLES === */

/* Basic List Styles */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

/* List Item Positioning */
.nav-list li {
    position: relative;
}

/* Button Styles */
.nav-list button {
    background: none;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.nav-list button:hover {
    background-color: white;
    color: #006400;
}

/* Sub-Menu Styles */
.nav-list .sub-menu {
    display: none;
    position: absolute;
    background-color: #1E3D63;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 5px;
    top: 100%;
}

.nav-list .sub-menu a {
    color: white;
    padding: 12px 16px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list .sub-menu a:hover {
    background-color: white;
    color: #006400;
}

.nav-list li:hover .sub-menu {
    display: block;
}

/* Login Button Styles */
.login-button a {
    background-color: #006400;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

/* === MAIN CONTENT STYLES === */
/* Base Content Styles */
.content {
    position: relative;
    z-index: 1;
}

.content img {
    width: 100%;  
    max-width: 3000px;
    height: 100vh;
    object-fit: cover;
}

/* Center Text Styles */
.center-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    max-width: 80%; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 50px;
    border-radius: 10px;
}

.center-text h1 {
    margin-bottom: 20px;
    font-size: 4vw; 
}

.center-text p {
    font-size: 1.2em; 
}

/* Additional Text Styles */
.text {
    text-align: center; 
    padding: 20px 0; 
}

.text h2 {
    font-size: 36px;  
    font-weight: bold;  
    margin: 0;  
}

/* === CARD SECTION STYLES === */

/* General Styles for Lower Card Section */
.lower-card {
    color: rgb(4, 4, 4);
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    display: flex; 
    justify-content: space-around;
    flex-direction: row; 
    align-items: stretch;  
    flex-wrap: nowrap;
}

.lower-card h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

/* Individual Card Styles */
.card {
    flex: 1;
    margin: 0 20px 20px 20px;
    padding: 0;
    background: rgba(217, 217, 217, 0.8) !important;
    border-radius: 15px !important;
    max-width: 400px;
    overflow: hidden; /* Ensures the image adheres to the border radius */
    display: flex; /* Added to structure the content vertically */
    flex-direction: column; /* Added to structure the content vertically */
}

.card-content {
    padding: 20px !important; /* Padding added here instead to space out internal text content */
}


.card:hover {
    transform: translateY(-10px); 
    background: rgba(200, 200, 200, 0.9); 
    box-shadow: 0px 4px 10px rgba(10, 10, 10, 0.5);
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

/* Card Content Styles */
.card img {
    max-width: 100%;
    height: 50%; /* Adjust as needed */
    object-fit: cover;
}

.card h3, .card p {
    margin: 10px 0;
}

.lower-card h2 {
    margin-bottom: 20px; 
    text-align: center; 
}

.lower-card .card {
    display: inline-block; 
    vertical-align: top;
}

/* === SUBSCRIBE SECTION STYLES === */
.subscribe {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.subscribe p {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.subscribe button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.subscribe button:hover {
    background-color: #eee;
}

/* === Social media === */
.social-media {
    text-align: center;
    padding: 20px;
    background-color: #000000; 
}

.social-media p {
    margin: 0 0 10px;
    font-size: 18px;
    color: #ffffff; 
}

.fa-icon {
    margin: 0 10px;
    color: #ffffff; 
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.fa-icon:hover {
    color: #ffffff;
}

/* === FOOTER STYLES === */
.footer {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.footer p ,
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer li {
    display: inline;
    margin-right: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ccc; 
}


